<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link href="http://handsontable.com//styles/main.css" rel="stylesheet">
    <link href="http://handsontable.com//bower_components/handsontable/dist/handsontable.full.min.css" rel="stylesheet">
    <script src="http://handsontable.com//bower_components/handsontable/dist/handsontable.full.min.js"></script>
  
    {% load staticfiles %}
    <script language="javascript" type="text/javascript" src={% static 'static/jqplot/jquery.jqplot.min.js' %}></script>
    <link rel="stylesheet" type="text/css" href= {% static 'static/jqplot/jquery.jqplot.css' %}/>
    <script type='text/javascript' src={% static 'static/js/plot.js' %}></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'static/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'static/bootstrap/css/cover.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'static/bootstrap/js/ie-emulation-modes-warning.js' %}" ></script>

  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Andy's Space</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/index/">Home</a></li>
                  <li><a href="/retire/">Retire</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
            <div id="chartdiv" style="height:400px;width:300px; "></div>
            <div id="basic_example"></div>
         </div>
      </div>
    </div>
    
    
  </body>
</html>