{% extends "base_boostrap.html" %}

{% block title %} Retire Spreadsheet - {% endblock %}

{% block header %}
    <li><a href="/index/">Home</a></li>
    <li class="active"><a href="/retire/">Retire</a></li>
    <li><a href="/trashmap/">TrashMap</a></li> 
{% endblock %}


{% block script %} 
    <!-- Include javascript package -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <!-- Include local javascript -->
    {% load staticfiles %}
    <script type='text/javascript' src={% static 'static/js/spreadsheet.js' %}></script>
    <link href="{% static 'static/css/retire.css' %}" rel="stylesheet">
    
    <!-- Include habdson talbe package -->
    <link href="http://handsontable.com//styles/main.css" rel="stylesheet">
    <link href="http://handsontable.com//bower_components/handsontable/dist/handsontable.full.min.css" rel="stylesheet">
    <script src="http://handsontable.com//bower_components/handsontable/dist/handsontable.full.min.js"></script>
    
    <!-- Include jqplot package -->
    <script language="javascript" type="text/javascript" src={% static 'static/jqplot/jquery.jqplot.min.js' %}></script>
    <link rel="stylesheet" type="text/css" href= {% static 'static/jqplot/jquery.jqplot.css' %}/>
    <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
    
{% endblock %}

{% block content %}

    <div class="inner_cover">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <p class="lead" id="chartdiv" style="height:300px;width:400px;"></p>
                <p class="lead">
                      <label id="init" class="btn btn-lg btn-success">Init</label>
                      <label id="plot" class="btn btn-lg btn-primary">Plot</label>
                </p>
            </div>
            <div class="col-xs-12 col-md-8">
                <p id="basic_example"></p>
            </div>
        <div>
    </div>
          
 {% endblock %}